version: "3.8"

services:
  postgres:
    image: postgres:15
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: testing
      POSTGRES_DB: envio-dev
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  hasura:
    image: hasura/graphql-engine:v2.36.1
    ports:
      - "8080:8080"
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      HASURA_GRAPHQL_DATABASE_URL: postgres://postgres:testing@postgres:5432/envio-dev
      HASURA_GRAPHQL_ENABLE_CONSOLE: "true"
      HASURA_GRAPHQL_DEV_MODE: "true"
      HASURA_GRAPHQL_ADMIN_SECRET: testing
      HASURA_GRAPHQL_UNAUTHORIZED_ROLE: public

  indexer:
    image: ghcr.io/enviodev/hyperindexer:v0.0.17
    depends_on:
      postgres:
        condition: service_healthy
    working_dir: /app
    volumes:
      - ./:/app
    environment:
      DATABASE_URL: postgres://postgres:testing@postgres:5432/envio-dev
    command: ["envio", "dev"]
